.feuerwehr {
	background-color: red;
	display: block;
	-ms-transform: translate(0, -3px); /* IE 9 */
	-webkit-transform: translate(0, -3px); /* Safari */
	transform: translate(0, -3px);
	padding-top: 20pt;
}
.feuerwehr_fullscreen {
	position: absolute;
	/*overflow: auto;*/
	display:block;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	margin: 0pt;
	width: 100%;
	height: 100%;
	height: 100vh;
    width: 100vw;
	background-color: red;
	z-index: 15;
}

.feuerwehr_innertext {
    left: 50%;
}
.alarmtext {
	color: white;
	font-size: 70pt;
	font-family: "Roboto-Light";
	min-height: 70pt;
	font-weight: bold;
}
.alarmzeit {
	color: white;
	font-size: 30pt;
	font-family: "Roboto-Light";
	min-height: 100%;
}
.alarmcounter {
	color: white;
	font-size: 20pt;
	font-family: "Roboto-Light";
	min-height: 100%;
}

#fwalarmicon {
	color: white;
}

.feuerwehr_innertext_fullscreen {
	position: absolute;
    top: 50%;
    left: 50%;
	text-align: center;
	margin: auto 0;
	transform: translate(-50%, -50%);
}
.alarmtext_fullscreen {
	color: white;
	font-size: 100pt;
	font-family: "Tahoma,Verdana,Arial";
	min-height: 100pt;
	font-weight: bold;
	line-height: 1.5em;
}
.alarmtextbig_fullscreen {
	color: white;
	font-size: 150pt;
	font-family: "Tahoma,Verdana,Arial";
	min-height: 150pt;
	font-weight: bold;
	line-height: 1.5em;	
	animation: blinker 1s infinite;
}
@keyframes blinker {
  100% { opacity: 0; }
}
.alarmzeit_fullscreen {
	color: white;
	font-size: 40pt;
	font-family: "Roboto-Light";
	min-height: 100%;
}
.alarmcounter_fullscreen {
	color: white;
	font-size: 20pt;
	font-family: "Roboto-Light";
	min-height: 100%;
}